<IfModule mod_headers.c>
    Header always set X-Robots-Tag "noindex, nofollow, noarchive, nosnippet, noimageindex"
</IfModule>

<FilesMatch "^(config|hash_migratie|add_user|emailtest)\.php$">
    Require all denied
</FilesMatch>
